body{
    background-color: #1E1E1E;
    padding: 0;
    margin: 0;
    display: flex;
}

.card-container{
    background-color:aliceblue;
    padding: 0px;
    color:#1E1E1E;
    width: 329px;
    height: 100px; 
}

.note-coantainer{
    background-color: gray;
    margin: 0;
    padding: 0;
    color: azure;
}

.info-container{
    background-color: gainsboro;
}

